.userDetailsTable {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  border-collapse: collapse;
  margin: 2rem;
  width: 75%;
}

.userDetailsTable td,
th {
  text-align: left;
  padding: 10px;
}

.userDetailsTableTop th {
  border-top: 0;
  background-color: white;
  font-size: 34px;
  width: 380px;
}

.line {
  border-right: solid 1px #e5e5e5;
}

.saveBtn {
  font-family: SFProText, serif;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.14px;
  color: #ffffff;
  width: 76px;
  height: 28px;
  border-radius: 4px;
  background-color: #0070c9;
  cursor: pointer;
}
